html {scroll-snap-type: y mandatory}

* {
  scrollbar-width: none;
}

.mainPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.project {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: auto;
}