@font-face {
  font-family: 'KaiseiHarunoUmi-Medium';
  src: local('KaiseiHarunoUmi-Bold'), url(./src/fonts/KaiseiHarunoUmi-Medium.ttf) format('truetype');
}

html {scroll-snap-type: y mandatory}

* {
  scrollbar-width: none;
  font-family: 'KaiseiHarunoUmi-Medium', serif;
}

.mainPage {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
}

.project {
  width: 100vw;
  height: 100vh;
  scroll-snap-align: start;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.skillsList {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  
}