.footer {
  display: flex;
  align-items: center;
  color: white;
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 7vh;
  font-size: 1rem;
  scroll-snap-align: end;
}

.footerCont {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.socialLinks {
  display: flex;
  align-items: center;
  justify-self: flex-start!important;
  margin: 0;
  
}

.copyright {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}

.footerImg {
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 2rem;
  margin-left: 3rem;
  border-radius: 100%;
}

.footerImg:hover {
  box-shadow: 0 0 10px white, inset 0 0 10px white;
  border-radius: 10px;
}

