
.kinetikPage {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  color: white;
  scroll-behavior: auto;
  overflow-y:auto;
}

.backBtn {
  position: absolute;
  top: 10%;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.kinetikDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5vh;
  min-height: 200vh;
  width: 100vw;
}

.kinetikDetail h1 {
  margin-top: 10vh;
  color: black;
  font-size: 5rem;
}

.kinetikDesktop {
  width: 70%;
}

.kinetikSSPage {
  /* border-top: 1px solid black; */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.274);
  margin-top: 10vh;
  width: 99%;
}

.kinetikInfo {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  color: black;
  justify-content: space-around;
}

.kinetikInfo p, .kinetikInfo li {
  font-family: 'LGcafe';
  font-size: 2.5rem;
}

.kinetikInfo ul {
  border-top: 10px dashed black;
  padding: 5vh 0;
}

.kinetikInfo h2 {
  font-size: 4rem;
  margin-bottom: 5vh;
}

.kinetikInfo li {
  list-style:none;
  font-size: 2.5rem;
}

.kinetikTech, .kinetikGoal, .kinetikMisc {
  display: flex;
  flex-direction: column;
}

.kinetikGoal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:10vh;
  margin-bottom: 20vh;
  padding-top: 10vh;
  min-height: 100vh;
}

.kinetikGoal h2 {
  margin-bottom: 20vh;
}

.goalDiv {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20vh;
  width: 99%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.274);
}

.goalSnip, .goalSnip2, .goalSnip3 {
  width: 20%;
}

.calendarSnip {
  width: 70%;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.274);
  padding: 5vh 10vw;
}

.kinetikCal {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.kinetikCal p {
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.calendarMisc {
  margin-top: 10vh;
  margin-bottom: 10vh;
  border: .5rem solid black;
  border-radius: 5px;
  width: 70%;
}