.proj4 {
  background-color: black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  padding-right: 20vw;
}

.proj4 h1 {
  font-family: 'LemonMilk-Reg';
  padding: .5rem;
  background-color: black;
  position: absolute;
  top: 25%;
  right: 9%;
  border-radius:10px;
}

.proj4 h3 {
  position: absolute;
  background-color: black;
  padding: .5rem;
  border-radius: 10px;
  font-family: 'LGCafe';
  top: 70%;
  right: 55%;
  font-size: 2.5rem;
}

.proj4Info h4 {
  font-family: 'LGCafe';
  margin-right: 2vw;
  color: white;
}

.vedomySS {
  width: 50vw;
  height: 70vh;
  border-radius: 10px;
  cursor: pointer;
}

.proj4Info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-right: 1vw;
  padding-top: 10vh;
  width: 50vw;
  height: 10vh;
  position: absolute;
  top: 76%;
  right: 9%;
}

.proj4Btn {
  display: flex;
  flex-direction: column;
  margin-right: 15%;
  height: 30vh;
  justify-content: space-between;
}