
.ouiCirclesPage {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 1.75rem;
  color: white;
  scroll-behavior: auto;
  overflow-y:auto;
}

.backBtn {
  position: absolute;
  top: 10%;
  border: none;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

.circlesDetail {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 5vh;
  min-height: 100vh;
  width: 100vw;
  background-color: white;
}

.circlesDetail h1 {
  margin-top: 10vh;
  color: black;
  font-size: 5rem;
}

.circlesDesktop {
  width: 70%;
}

.ouiSSpage {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.274);
  margin-top: 10vh;
  width: 99%;
}

.ouiInfo {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 50vh;
  color: black;
  justify-content: space-around;
}

.ouiInfo li {
  font-family: 'LGcafe';
  font-size: 2.5rem;
}

.ouiInfo p {
  font-family: 'LGcafe';
  font-size: 2rem;
} 

.ouiInfo ul {
  border-top: 10px dashed black;
  padding: 5vh 0;
}

.ouiInfo h2 {
  font-size: 4rem;
}

.ouiInfo li {
  list-style:none;
  font-size: 2.5rem;
}

.ouiMisc {
  margin: 10vh 0;
  padding: 5rem;
  border: .5rem solid black;
  border-radius: 5px;
  box-shadow: 0 0 5px black;
}